@import url(../css/global.css);

body {
  background-color: #000;
  color: #fff;
}

header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 1.0)
    ), url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
}
.logo {
    width: 300px;
    margin: 0 auto;
}
h1, h2, p {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
h1 {
  background: linear-gradient(90deg, rgb(187, 7, 16), rgb(243, 109, 115));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  background: linear-gradient(90deg, rgb(187, 7, 16), rgb(243, 109, 115));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 30px;
}
button {
    display: block;
    width: 326px;
    height: 57px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 auto;
    border: solid 2px;
    border-image-source: linear-gradient(90deg, rgb(187, 7, 16), rgb(243, 109, 115));
    border-image-repeat: none;
    border-image-slice: 10;
    background: linear-gradient(90deg, rgb(187, 7, 16), rgb(243, 109, 115));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}
#course-content {
  background-color: #000000fd;
}
#modules-list {
  text-align: center;
}
.module {
  background: linear-gradient(90deg, rgb(187, 7, 16), rgb(243, 109, 115));
  width: 600px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 15px;
}
.module span {
  color: #000;
  font-weight: 600;
}