@import url(../css/global.css);

body {
  background-color: #000;
  color: #fff;
}

header {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 1.0)
    ), url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    border-bottom: solid 1px rgb(187, 7, 16);
}
.logo {
    width: 300px;
    margin: 0 auto;
}
h1, h2, p {
    text-align: center;
    color: #fff;
    margin-bottom: 20px;
}
h1 {
  background: linear-gradient(90deg, rgb(187, 7, 16), rgb(243, 109, 115));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  background: linear-gradient(90deg, rgb(187, 7, 16), rgb(243, 109, 115));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 30px;
}
#button {
  display: block;
  width: 170px;
  padding: 12px 24px;
  margin: 0 auto;
  background: #e50914; /* Netflix vibes */
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
#course-content {
  background-color: #000000fd;
}
#modules-list {
  text-align: center;
  margin-bottom: 20px;
}
.module {
  background: linear-gradient(90deg, rgb(187, 7, 16), rgb(243, 109, 115));
  width: 600px;
  padding: 10px;
  margin: 10px auto;
  border-radius: 15px;
}
.module span {
  color: #000;
  font-weight: 600;
}
#transform-world {
  border-top: solid 1px rgb(187, 7, 16);
  border-bottom: solid 1px rgb(187, 7, 16);
  height: 250px;
  background-image: url('../images/banner-st.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#transform-world p {
  width: 100px;
  text-align: left;
  margin: 80px 60px;
  font-size: 1rem;
  font-weight: bold;
  filter: drop-shadow(1px 10px 2px rgb(187, 7, 16));
}
#professional-challenges {
  border-bottom: solid 1px rgb(187, 7, 16);
}
#professional-challenges img {
  display: block;
  margin: 0 auto;
  width: 550px;
  border: 2px solid rgb(187, 7, 16);
  border-radius: 15px;
}
#professional-challenges p {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 600px;
  font-size: 1rem;
  text-align: center;
}
#netflix-logo {
  width: 200px;
  display: block;
  margin: 0 auto;
}
footer p a {
  color: rgb(187, 7, 16);
  text-decoration-color:inherit;
}